menu "WiFi Configuration"
    config WIFI_SSID
        string "WiFi SSID"
        default "myssid"
    config WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
endmenu

menu "MQTT Configuration"
    config MQTT_BROKER_URI
        string "Broker URI"
        default "ws://broker.emqx.io:8083/mqtt"
    config MQTT_TOPIC
        string "Publish Topic"
        default "/sensors/sht30"
    config MQTT_PUBLISH_INTERVAL
        int "Publish Interval (s)"
        default 10
endmenu
